    @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        background-color: hsl(270, 20%, 96%);
        background-image: url('../images/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%
    }

    .header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container div {
        max-width: 1440px;
    }

    .content-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        text-align: center;
        color: #fff;
        flex-direction: column;
        height: 100vh;
        font-size: x-large;
        font-weight: bold;
    }

    /*Big purpuple side*/
    .content-item .first-span {
        color: #fff;
        margin-top: -12.9em;
        padding: 1px;
        background: linear-gradient(to bottom,
                hsl(293, 100%, 63%) 0%,
                hsla(0, 0%, 100%, 0) 80%,
                hsla(0, 0%, 0%, 0) 50%,
                hsl(264, 100%, 61%)),
            linear-gradient(to right, hsl(0, 0%, 50%) 0%, hsl(264, 100%, 61%) 100%);
        min-height: 100%;
        min-width: 40%;
        border-radius: 0% 0% 35% 0%;
        position: absolute;
        z-index: -999;
        border: none;
    }

    /* End of big purpuple side */

    .content-item .mobile-display {
        margin-top: 21px;
        height: 20px;
        border: none;
        min-width: 9%;
        min-height: 81.4%;
        margin-left: 8em;
        border-radius: 30px 30px 30px 30px;
        margin-bottom: 10px;
        box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
        background-color: #fff;
    }

    .content-item:nth-last-of-type(1) {
        align-items: flex-start;
        color: #000;
        z-index: 999;
        text-align: left;
        flex: 1px;
    }



    .content-item:nth-last-of-type(3) {
        max-width: 8%;
    }

    /*Mobile Display*/
    .head {
        display: flex;
        background-color: hsl(270, 20%, 96%);
        margin: 2.2%;
        border-radius: 0px 0px 20px 20px;
        margin-top: -1em;
        color: hsl(264, 100%, 61%);
    }

    .icons {
        margin-left: 55px;
    }

    .head div>* {
        display: flex;
        background-color: #f7e6eb;
        flex-wrap: wrap;
        font-size: 12px;

    }

    .three {
        padding: 2em;
        border-radius: 10px;
        margin: 12px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .threes {
        padding: 1em;
        border-radius: 10px;
        margin: 12px;
        text-align: start;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .three_btn {
        padding: 1.6em;
        border-radius: 10px;
        margin: 12px;
        background: linear-gradient(to bottom,
                hsl(293, 100%, 63%) 0%,
                hsla(0, 0%, 100%, 0) 80%,
                hsla(0, 0%, 0%, 0) 50%,
                hsl(264, 100%, 61%)),
            linear-gradient(to right, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
        color: #fff;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .first-span-btn {
        background: linear-gradient(to bottom,
                hsl(293, 100%, 63%) 0%,
                hsla(0, 0%, 100%, 0) 80%,
                hsla(0, 0%, 0%, 0) 100%,
                hsl(264, 100%, 61%)),
            linear-gradient(to right, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
        padding-left: 5em;
    }

    .first-span-b {
        background: linear-gradient(to bottom,
                hsl(293, 100%, 63%) 0%,
                hsla(0, 0%, 0%, 0) 80%,
                hsla(0, 0%, 0%, 0) 100%,
                hsl(264, 100%, 61%)),
            linear-gradient(to right, hsl(293, 100%, 3%) 0%, hsl(264, 100%, 61%) 0%);
        font-size: 20px;
        font-weight: 500;
    }

    .btn-extra {
        padding-right: 2.4em;
    }

    .mobile-display .nav {
        display: flex;
        background: linear-gradient(to bottom,
                hsl(293, 100%, 63%) 0%,
                hsla(0, 0%, 100%, 0) 80%,
                hsla(0, 0%, 0%, 0) 50%,
                hsl(264, 100%, 61%)),
            linear-gradient(to right, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
        border-radius: 23px 23px 0px 0px;
        margin: 9px;
    }

    .nav {
        padding: 10px;
        text-align: left;
        font-size: 18px;
        background-color: #000;
    }

    .avatar {
        max-width: 14%;
        border-radius: 50%;
        border: 2px solid #fff;
        margin: 7%;
        margin-top: 10px;
    }


    .icons-small {
        margin-top: 10px;
        padding: 10px;
        cursor: pointer;
    }

    .nav-item .header {
        flex: 1;
        font-weight: 700;
        line-height: 1.5;
        justify-content: space-between;
        font-size: 18px;
    }

    .nav-item .paragraph {
        font-size: 12px;
    }

    .items-text {
        margin-left: 1%;
        margin-right: -44%;
        flex-wrap: wrap;
    }

    .content-item h2 {
        font-weight: 700;
        margin: 75px;
        color: hsl(271, 36%, 24%)
    }

    /* Article section */
    article p {
        font-size: 17px;
        max-width: 60%;
        margin-top: 10px;
        color: hsl(206, 6%, 79%);
        line-height: 1.8;
        z-index: 9999;
        margin: 75px;
        font-weight: 700;
        margin-top: -3em;
    }

    /* End of article section */


    /* Price item */
    .price_item {
        font-size: 17px;
        margin-top: -4px;
    }
    /* End of price item */


    /* Small icon in the mobile card */
    .head .head-content-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
        margin-top: 1em;
        margin-bottom: -4.9px;
    }

    .head .items {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        width: 100%;

    }


    .items:nth-of-type(1) {
        margin-left: 60%;
        background-image: url(../images/dog-image-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px 10px 10px 10px;
        width: 10%;
    }


    .items:nth-of-type(2) {
        background-image: url(../images/dog-image-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px 10px 10px 10px;
        width: 10%;
    }


    .items:nth-of-type(3) {
        background-image: url(../images/dog-image-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px 10px 10px 10px;
        width: 10%;
        margin-right: 3.6%;
    }

    .head .items-text_one {
        border-radius: 10px 10px 10px 10px;
        width: 50%;
        align-items: center;
        background-color: #fff;
        margin-left: 48%;
        padding: 16px;
        margin-top: 2px;
        text-align: start;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }


    .head-content-items .input-field {
        border: none;
        max-width: 100%;
        display: blocks;
        margin-bottom: 5.3em;
    }

    .head-content-items .input-field {
        border: none;
        max-width: 100%;
        padding: 16px;
        margin: 10px;
        background-color: transparent;
        border-radius: 10px;
        color: #fff;
        margin-bottom: 60px
    }

    input[type="text"] {
        background-color: #fff;
        border: none;
        padding: 19.5px;
        text-align: start;
        border-radius: 24px;
        min-width: 313px;
    }



    .fa-chevron-circle-right:before,
    .fa-circle-chevron-right:before {
        content: "\f138";
        font-size: 28px;
        background: transparent;
        color: hsl(271, 36%, 24%);
        margin-top: 12px;
        margin-left: -36px;
    }

    .item-helper {
        margin-bottom: 14px;
    }


    @media (max-width: 768px) {

        /* Background top */
        .content-item .first-span {
            margin-top: -10em;
            min-height: 75%;
            min-width: 100%;
            margin-left: -2em;
            z-index: -9999;
        }
        /* End background span */

        .header .container {
            flex-wrap: wrap;
            margin-top: -40;
            z-index: 9999;
        }


        .mobile-display .nav {
            display: flex;
            margin: 20px;
        }


        /* Contenr article */
        .content-item article{
            margin-top:-15em;
        }
        /* End of content article*/


        .content-item span {
            max-width: 100%;
            align-items: flex-start;
            border-radius: 0% 0% 95% 0%;
        }

        .content-item:nth-last-of-type(1) {
            text-align: center;
        }

        .content-item:nth-last-of-type(2) {
            background: transparent;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 1em;
            margin-top: -31em;
        }



        .content-item .mobile-display {
            flex: 1;
            width: 100%;
            margin-left: 0px;
            min-height: 93%;
        }

    }