@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: hsl(270, 20%, 96%);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container div {
  max-width: 1440px;
}

.content-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  text-align: center;
  height: 400px;
  color: #fff;
  flex-direction: column;
  height: 100vh;
  font-size: x-large;
  font-weight: bold;
}

.content-item .first-span {
  color: #fff;
  margin-top: -12.9em;
  padding: 10px;
  border: 1px solid #ccc;
  background: linear-gradient(
      to bottom,
      hsl(293, 100%, 63%) 0%,
      hsla(0, 0%, 100%, 0) 80%,
      hsla(0, 0%, 0%, 0) 50%,
      hsl(264, 100%, 61%)
    ),
    linear-gradient(to right, hsl(0, 0%, 50%) 0%, hsl(264, 100%, 61%) 100%);
  min-height: 77vh;
  min-width: 36%;
  border-radius: 0% 0% 35% 70%;
  position: absolute;
  z-index: -999;
  border: none;
  padding-bottom: 12em;
}

.content-item .mobile-display {
  margin-top: 10px;
  height: 20px;
  border: none;
  width: 68%;
  height: 80vh;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  margin: 10em;
}

.content-item:nth-last-of-type(1) {
  align-items: flex-start;
  color: #000;
  z-index: 999;
  text-align: left;
  flex: 1px;
}
.content-item:nth-last-of-type(2) {
  background-color: transparent;
  color: #fff;
  border: none;
  align-items: center;
  margin-left: 6em;
}
.content-item:nth-last-of-type(3) {
  max-width: 8%;
  color: #000;
  flex-grow: 1;
}

.head {
  height: 67.2vh;
  z-index: 9999;
  background-color: hsl(270, 20%, 96%);
  margin: 10px;
  border-radius: 0px 0px 20px 20px;
  padding: 10px 10px;
  margin-top: -1em;
  z-index: -9999;
}

/*Mobile Display*/
.mobile-display .nav {
  display: flex;
  align-items: flex-start;
  background: linear-gradient(
      to bottom,
      hsl(293, 100%, 63%) 0%,
      hsla(0, 0%, 100%, 0) 80%,
      hsla(0, 0%, 0%, 0) 50%,
      hsl(264, 100%, 61%)
    ),
    linear-gradient(to right, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
  border-radius: 10px 10px 0px 0px;
  margin: 10px;
}

.nav {
  padding: 10px;
  text-align: left;
  font-size: 18px;
  background-color: #000;
}

.avatar {
  max-width: 20%;
  margin: 6px;
  margin-left: 1em;
  border-radius: 50%;
}

.icons-small {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.nav-item .header {
  flex: 1;
  font-weight: 700;
  line-height: 1.5;
  justify-content: space-between;
  margin-right: 4em;
  font-size: 17px;
}

.nav-item .paragraph {
  font-size: 15px;
}

.items-text {
  text-align: left;
  margin-left: -20px;
  margin-right: -148px;
}

.mobile-display .head {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.head .box {
  display: flex;
}

.box:nth-of-type(1) {
  display: flex;
  background-color: lightpink;
  align-items: center;
  justify-content: center;
  max-height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 8px;
  font-size: 22px;
  border: none;
}

.box p:nth-of-type(1) {
  color: #fff;
  font-size: 12px;
  text-align: start;
  padding: 20px;
}
@media (max-width: 375px) {
  .header .container {
    flex-wrap: wrap;
  }
  .content-item span {
    max-width: 100%;
    align-items: flex-start;
    border-radius: 0% 0% 95% 0%;
  }
  .content-item:nth-last-of-type(1) {
    text-align: center;
  }

  .content-item:nth-last-of-type(2) {
    margin-top: -35em;
    background: transparent;
    text-align: center;
    justify-content: center;
    margin-top: -33em;
    align-items: center;
    margin-left: 15%;
    margin-right: 10%;
  }

  .content-item:nth-last-of-type(3) {
    max-width: 100%;
  }

  .content-item .mobile-display {
    flex: 1;
    width: 100%;
  }
}
